*{
    margin:0;
    padding: 0;
}
.app-container {
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex-grow: 1;
  padding: 24px;
}

.section-wrapper {
  margin-bottom: 24px;
}